* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding: 20px 20px;
}

.back-link {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: darkorchid;
  border: 1px solid black;
  border-radius: 8px;
}

.back-link:hover {
  background-color: purple;
}

.back-link a {
  color: #ffff;
  text-decoration: none;
}

.form {
  width: 250px;
  margin-top: 20px;
}

.form > label:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form input {
  padding: 0 0 0 10px;
  font-size: 20px;
}

.form fieldset {
  margin-top: 15px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.form legend {
  margin-left: 20px;
}

.form button {
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
}

.form button:hover {
  cursor: pointer;
}
