* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: antiquewhite;
}

.container {
  margin: 0 auto;
  padding: 0 150px;
}
.tasks {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tasks li {
  padding: 10px;
  background-color: darkorchid;
  border: 1px solid black;
  border-radius: 8px;
}

.tasks li:hover {
  background-color: purple;
}

.tasks a {
  text-decoration: none;
  color: #ffff;
}
